form.addForm .col-md-4 {
    width: 32%;
    display: inline-block;
}
button.btn.addNew {
    border-radius: 50%;
    padding: 7px 13px;
    margin: 0px;
}
.addForm input[type=file]{
	opacity: 1;
	position: inherit;
	padding: 7px;
}
div#showLyrics, #showChords {
    padding: 40px;
    text-align: center;
    opacity: 0;
}